.box {

    background-color: rgb(182, 144, 144);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.row {
    transition: all 1s;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    font-size: 45px !important;
    align-self: stretch;
    text-align: center;
    color: black;
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: black;
    font-size: 20px;
}

strong {
    color: #156EBF;
    text-decoration: underline;
}